<!-- About -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].faq.section | default: "faq" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{ site.data.sitetext[site.locale].faq.title | markdownify | default: "FAQ" }}</h2>
          <!-- <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].faq.text | default: "timeline"}}</h3> -->
        </div>
      </div>
      {%- for item in site.data.sitetext[site.locale].faq.questions -%}
      <div class="container">
        <p style="font-family:Raleway, Helvetica, sans-serif; font-size:24px"><u><b>{{ item.question }}</b></u></p>
        <p style="font-family:Raleway, Helvetica, sans-serif;"><b>{{ item.answer }}</b></p>
      </div>
      {% endfor %}
    </div>
  </section>
<!-- End About -->
